*{
    margin:0px;
    padding:0px;
    
}

.selection_box
{
  float:right;
margin-right:0px;
}

.output_console
{
    background-color:black;
    color:white;
    margin-top:20px;
}

.output_console :focus
{
  background-color:black;
    color:white;
    margin-top:20px;   
}

.textarea {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
}